<div>Das ist eine {{ name }} Party!</div>

{# Syntax fuer Kommentare #}

{% for x in partys %}
    {% if x == 'Party 2' %}
        <div>Fällt ins Wasser!</div>
    {% elseif x == 'Party 3' %}
        <div>Super Party</div>
    {% else %}
        <div>{{ x }}</div>
    {% endif %}
{% endfor %}

{#{% for party in partys %}#}
{#    {% if {{ party.name }} == 'Techno' %}#}
{#        <div>Für die {{ party.name }} sind noch {{ party.seats }} frei!</div>#}
{#    {% elseif {{ party.name }} == 'Rock' %}#}
{#        <div>ACHTUNG, für die {{ party.name }} sind nur noch {{ party.seats }} frei!!</div>#}
{#    {% elseif {{ party.name }} == 'Hip Hop' %}#}
{#        <div>{{ party.name }} Party ist ausverkauft!!!</div>#}
{#    {% endif %}#}
{#        <div>Keine Informationen vorhanden!</div>#}
{#{% endfor %}#}

