{%  extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Startseite
{% endblock %}

{% block head %}

{% endblock %}



{% block body %}

{# Beispiel twig div #}
{# <div>Das ist eine {{ name }} Party!</div> #}
{# <br> #}

{# Syntax fuer Kommentare #}


{# daten1 #}
{# {% for x in partys %} #}
{#    {% if x == 'Party2' %} #}
{#        <div>Fällt ins Wasser!</div> #}
{#    {% elseif x == 'Party3' %} #}
{#        <div>Super Event</div> #}
{#    {% else %} #}
{#        <div>{{ x }}</div> #}
{#    {% endif %} #}
{# {% endfor %} #}

{# daten2 #}
{# {% for x in partys %} #}
{#    {% if x.seats == 0 %} #}
{#        <div>Die {{ x.name }} Event ist ausverkauft!!!</div> #}
{#    {% elseif x.seats <= 10 %} #}
{#        <div>Für die {{ x.name }} Event sind nur noch {{ x.seats }} Plätze frei!!</div> #}
{#    {% else %} #}
{#        <div>Die {{ x.name }} Event hat noch {{ x.seats }} Plätze verfügbar!</div> #}
{#    {% endif %} #}
{# {% endfor %} #}

{# daten3 #}
{# <div>Das ist eine {{ party1.name }} Party und es sind {{ party1.seats}} Plätze verfügbar!</div> #}

{# daten 4 #}
{#{% for x in events %}#}
{#    {% if x.seats == 0 %}#}
{#        <div>Das {{ x.name }} Event ist ausverkauft!!!</div>#}
{#    {% elseif x.seats <= 10 %}#}
{#        <div>Für das {{ x.name }} Event sind nur noch {{ x.seats }} Plätze frei!!</div>#}
{#    {% else %}#}
{#        <div>Das {{ x.name }} Event hat noch {{ x.seats }} Plätze verfügbar!</div>#}
{#    {% endif %}#}
{#    <a href='show/{{ x.id }}'>Link</a>#}
{#    <a href='{{ path('app_main_show',{id: x.id}) }}'>Link</a>#}
{#{% endfor %}#}

{% endblock %}

