{% extends 'base.html.twig' %}

{% block title %}
        {{ parent() }}
    Events
{% endblock %}

{% block body %}
    <div>
        Das Event mit der ID [{{ event.id }}] beinhaltet folgende Daten:<br>
        <br>
        Name: {{ event.name }}<br>
        Beschreibung: {{ event.description }}<br>
        Location: {{ event.location }}<br>
        Gebuchte Plätze: {{ event.bookedSeats }}<br>
    </div>
{% endblock %}